.pre-loader {
  position: fixed;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

/* Keeping the footer where it belongs */

.over-all-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 20px 10px;
  background-color: #f50057;
  margin-top: 50px;
}

footer .col-6 {
  margin-top: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
  line-height: 25px;
}

body {
  height: 100%;
}
/* 
@media (min-width: 600px) {
  .MuiToolbar-gutters {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
} */